.git
.github
.vscode
node_modules
**/node_modules
**/dist
**/build
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/coverage
**/.next
**/.turbo
**/.cache
**/node_modules__old__do_not_use
.npm-cache
*.log
*.pid
*.tmp
*.bak
apps/fulltech_app/build
apps/fulltech_app/.dart_tool
apps/fulltech_app/android/.gradle
apps/fulltech_app/ios/Pods
installer
